.flatpickr-calendar {
  background-color: #fcf5eb;
  padding: 20px;
  width: auto !important;
}

.flatpickr-day.selected {
  background-color: #073937 !important;
  border-color: #073937 !important;
}

.flatpickr-day,
.cur-month,
.flatpickr-monthDropdown-months {
  color: #073937 !important;
}

.flatpickr-months {
  padding-bottom: 20px;
}

.flatpickr-months span {
  top: 20px !important;
}

.flatpickr-day.flatpickr-disabled {
  color: rgba(57, 57, 57, 0.3);
}

.dayContainer + .dayContainer {
  box-shadow: none;
}

.flatpickr-months,
.flatpickr-weekdays {
  gap: 60px;
}

.flatpickr-days {
  /* display: grid; */
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  width: auto !important;
}

@media screen and (max-width: 768px) {
  .flatpickr-days {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    width: auto !important;
  }
}
