/* header */
* {
  list-style: none;
}

header {
  width: 100%;
  background-color: var(--light-yellow);
  min-height: 57px;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  box-shadow: 0 1px 10px #ccc;
}

nav {
  max-width: 1440px;
  width: 100%;
  padding: 0 32px 0 48px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > a img {
  display: block;
  width: 129px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav > ul > li {
  padding: 0 5px;
  font-size: 1rem;
  position: relative;
}

nav ul img {
  display: block;
  height: 20px;
  object-fit: cover;
}

.flag-wrap {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* dropdown menu */

.dropdown {
  display: none;
  position: absolute;
  background-color: #fcf5eb;
  border-radius: 15px;
  border: thin solid rgba(0, 0, 0, 0, 2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0, 2);
  cursor: default;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 24px;
  margin-top: 0;
  z-index: 10;
}

.dropdown ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px 16px;
  margin: 16px 0 0;
}

nav button {
  display: flex;
  gap: 5px;
  padding: 15px;
  align-items: center;
  border-radius: 30px;
}

.main-menu li:hover {
  background-color: #f3eadc;
  border-radius: 100px;
}

.dropdown button p {
  white-space: nowrap;
}

button.checked {
  background-color: #f3eadc;
}

nav > ul > li:hover .dropdown {
  display: block;
}

nav > ul > li:last-child .dropdown ul {
  grid-template-columns: 1fr;
  white-space: nowrap;
  margin-top: 0;
}

nav > ul > li:last-child .dropdown {
  padding: 24px 0;
}

nav > ul > li:last-child .dropdown ul li {
  padding: 4px 24px;
}

nav > ul > li:last-child i {
  font-size: 1.5rem;
}

nav > ul > li:last-child .dropdown ul li:hover {
  background-color: #073937;
  width: 100%;
  border-radius: 0;
}

nav > ul > li:last-child .dropdown ul li:hover a {
  color: #fff;
}

.mobile-menu-wrap {
  display: none;
}

/* modal-container */

.modal-popup {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
}

.modal-container {
  width: 80%;
  max-width: 500px;
  background-color: var(--light-yellow);
  border-radius: 20px;
  margin: 0 auto;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-container input {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border-bottom: 1px solid #073937;
}

.modal-title {
  width: 70%;
  font-weight: 600;
}

.yellow-button.login-btn {
  opacity: 0.5;
  width: 100%;
  margin-top: 12px;
  color: #073937 !important;
}

.modal-container input:valid ~ .login-btn {
  opacity: 1;
}

.modal-login-btn {
  width: 100%;
  padding: 20px;
  border-radius: 100px;
  background-color: #fcf5eb;
  display: grid;
  grid-template-columns: 24px auto;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.modal-login-btn img {
  margin: 0 !important;
  object-fit: cover;
  height: 20px !important;
}

.modal-close-btn {
  top: 15px;
  right: 25px;
  font-size: 2rem;
}

.modal-container a {
  border-bottom: thin solid #073937;
}

/* media Query */

@media screen and (max-width: 996px) {
  nav {
    padding: 0 16px;
  }
}

@media screen and (max-width: 768px) {
  nav > a img {
    width: 97px;
  }

  nav button {
    padding: 8px;
  }

  .main-menu,
  .menu-toggle,
  .mobile-menu {
    display: none;
  }
  .mobile-menu-wrap {
    display: block;
  }
  .menu-btn {
    width: 20px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    /* background-color: #073937; */
  }

  .menu-close-btn {
    display: none;
    position: absolute;
    z-index: 3;
    top: 40px;
    left: 40px;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
  }

  .menu-btn span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #073937;
    transition: all 0.3s ease;
  }

  .menu-toggle:checked + .menu-btn span:first-child {
    transform: rotate(45deg) translateY(8px);
    opacity: 0;
  }
  .menu-toggle:checked + .menu-btn span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle:checked + .menu-btn span:last-child {
    transform: rotate(-45deg) translateY(-8px);
    opacity: 0;
  }

  .menu-toggle:checked ~ .mobile-menu,
  .menu-toggle:checked ~ .menu-close-btn {
    display: block;
  }

  .mobile-menu {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: var(--light-yellow);
    top: 0;
    left: 0;
    padding: 40px;
  }

  .mobile-menu .sns-area {
    display: flex;
    justify-content: center;
    margin: 24px 0;
    gap: 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.75);
    padding-top: 24px;
  }
  .mobile-menu ul {
    display: flex;
    flex-direction: column;
  }
  .mobile-menu img {
    height: 24px;
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
  }

  .mobile-quick-link {
    gap: 12px;
  }
}
